$bg-color-white: #ffffff;
$bg-color-white7: #f7f7f7;
$bg-color-greyD: #d6d6d6;
$bg-color-grey: #cccccc;
$bg-color-blue: #0088cc;
$bg-color-dark-blue: #0074ad;
$bg-color-dark-grey1: #404040;
$bg-color-semi-black: #212529;
$bg-color-dark-grey2: #212529CC;
$bg-color-dark-grey3: #1c2023;
$bg-color-light-grey1: grey;

$text-color-white: #ffffff;
$text-color-grey: #b7b7b7;
$text-color-dark-grey1: #888888;
$text-color-blue: #0088cc;
$text-color-dark-grey2: #777777;
$text-color-dark-grey3: #555555;
$text-color-dark-grey4: #444444;
$text-color-dark-grey5: #333333;
$text-color-semi-black: #212529;
$text-color-black: #000000;
$text-color-light-blue: #c1e2f3;

$border-color-white7:#f7f7f7;
$border-color-whiteE: #eeeeee;
$border-color-whiteED: #ededed;
$border-color-whiteE2: #e2e2e2;
$border-color-light-grey: #d9d9d9;
$border-color-grey: #bfbfbf;
$border-color-blue:#0088cc;
$border-color-dark-blue: #005580;
$border-color-semi-black: #212529;
$border-color-black: #000000;